body,
html {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", serif;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  padding: 0px;
  margin: 0px;
}

.container {
  max-width: 85%;
  margin: auto;
}

/* HEADER */

.page-header-container {
  padding-top: 20px;
  border-bottom: 1px solid #eee;
}

.page-header {
  display: flex;
  align-items: center;
}

.page-header .logo,
.page-header nav {
  width: 50%
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 70px;
  border-radius: 50%;
}

.logo h1 {
  font-size: 4rem;
  padding: 0px;
  margin: 0px;
  color: #02ad27;
}

.main-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: right;
  align-items: center;
}

.main-nav li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
  border-radius: 10px;
}

.main-nav li a:hover {
  background: #02ad2744;
}

.main-nav li.active a {
  color: #02ad27;
}

/* MAIN */

.banniere {
  display: flex;
  align-items: center;
  justify-content: center;
}

.banniere img {
  width: 75%;
  position: relative;
}

.banniere-caption {
  position: absolute;
  top: 60%;
  right: 600px;
  padding: 10px 40px;
  background: #02ad27b0;
  color: white;
  border-radius: 25px;
  width: 850px;
}

.banniere-caption p { 
  font-weight: 500;
}

.list-news {
  width: 50%;
  background-color: white;
  margin-left: 10px;
}

.list-news ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list-news li {
  padding: 10px;
}

.list-news li:hover {
  scale: 1.1;
  transition: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  margin-left: -5px;
}

.list-news li + li {
  border-top: 1px solid #ccc;
}

.list-news li a {
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.item-img {
  padding-right: 10px;
  width: 50px;
  height: 35px;
  display: flex;
  align-items: center;
  
}

.item-img img {
  border-radius: 50%;
  width: 100%;
}

.title-articles {
  text-align: center;
  color: #02ad27;
  font-size: 2rem;
  padding-bottom: 16px;
  border-bottom: 1px solid #ccc;
}

.news-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  gap: 20px;
  padding-bottom: 30px;
}

.news-item {
  width: 24%;
  padding: 16px;
}

.news-item:hover {
  scale: 1.05;
  transition: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.news-item img {
  height: 280px;
}

.news-item article {
  padding-bottom: 30px;
  border-radius: 25px;
  box-shadow: 0px 0px 5px #ccc;
  overflow: hidden;
}

.news-item article p,
.news-item article div {
  padding: 0px 30px;
}

.news-item article h2 {
  padding: 10px 30px;
  padding-bottom: 0;
  margin: 0;
}

.news-item article a {
  text-decoration: none;
  color: #02851e;
  font-weight: bold;
}

.news-item article a:hover {
  color: #02ad27;
}